In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import StandardScaler, Normalizer, FunctionTransformer
from sklearn import metrics
from sklearn.pipeline import Pipeline, FeatureUnion

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [23]:
!ls ./data

mortality.txt

In [28]:
df_mortality = pd.read_csv('./data/mortality.txt', delimiter='\t')

In [29]:
df_mortality.shape

(28350, 14)

In [30]:
df_mortality.head()

,Notes,Year,Year Code,Age Group,Age Group Code,Gender,Gender Code,Race,Race Code,State,State Code,Deaths,Population,Crude Rate
0,NaN,2007.0,2007.0,< 1 year,1,Female,F,American Indian or Alaska Native,1002-5,Alaska,2.0,10.0,1298,770.4 (Unreliable)
1,NaN,2007.0,2007.0,< 1 year,1,Female,F,American Indian or Alaska Native,1002-5,Arizona,4.0,25.0,4139,604.0
2,NaN,2007.0,2007.0,< 1 year,1,Female,F,American Indian or Alaska Native,1002-5,New Mexico,35.0,13.0,2384,545.3 (Unreliable)
3,NaN,2007.0,2007.0,< 1 year,1,Female,F,American Indian or Alaska Native,1002-5,North Carolina,37.0,16.0,1161,1378.1 (Unreliable)
4,NaN,2007.0,2007.0,< 1 year,1,Female,F,American Indian or Alaska Native,1002-5,Oklahoma,40.0,32.0,4049,790.3

In [31]:
df_mortality.nunique()

Notes                50
Year                 10
Year Code            10
Age Group            14
Age Group Code       14
Gender                2
Gender Code           2
Race                  4
Race Code             4
State                51
State Code           51
Deaths             4313
Population        24019
Crude Rate        17995
dtype: int64

In [32]:
df_mortality.isnull().sum()

Notes             28295
Year                 55
Year Code            55
Age Group            55
Age Group Code       55
Gender               55
Gender Code          55
Race                 55
Race Code            55
State                55
State Code           55
Deaths               55
Population           55
Crude Rate           55
dtype: int64

In [33]:
df_mortality.dtypes

Notes              object
Year              float64
Year Code         float64
Age Group          object
Age Group Code     object
Gender             object
Gender Code        object
Race               object
Race Code          object
State              object
State Code        float64
Deaths            float64
Population         object
Crude Rate         object
dtype: object

In [ ]:
df_mortality